## LIBRARIES AND PACKAGES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## DATA

In [2]:
def get_football_data():
    print("Downloading Premier League data...")
    season_urls = {
        '2022-23': 'https://www.football-data.co.uk/mmz4281/2223/E0.csv',
        '2023-24': 'https://www.football-data.co.uk/mmz4281/2324/E0.csv',
        '2024-25': 'https://www.football-data.co.uk/mmz4281/2425/E0.csv'
    }

    all_matches = []
    for season, url in season_urls.items():
        df = pd.read_csv(url)
        df["Season"] = season
        all_matches.append(df)

    match_data = pd.concat(all_matches, ignore_index=True)
    return match_data


data = get_football_data()
data.head()

Downloading Premier League data...

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data structure

In [3]:
data.shape

(1140, 133)

In [4]:
#columns
data.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       '1XBCH', '1XBCD', '1XBCA', 'BFECH', 'BFECD', 'BFECA', 'BFEC>2.5',
       'BFEC<2.5', 'BFECAHH', 'BFECAHA'],
      dtype='object', length=133)

### Data Description

In [5]:
data.describe().T

           count       mean       std   min    25%    50%      75%    max
FTHG      1140.0   1.649123  1.359663  0.00   1.00   1.00   2.0000   9.00
FTAG      1140.0   1.372807  1.221895  0.00   0.00   1.00   2.0000   8.00
HTHG      1140.0   0.748246  0.875351  0.00   0.00   1.00   1.0000   5.00
HTAG      1140.0   0.600000  0.800351  0.00   0.00   0.00   1.0000   5.00
HS        1140.0  14.369298  5.867690  1.00  10.00  14.00  18.0000  36.00
...          ...        ...       ...   ...    ...    ...      ...    ...
BFECA      380.0   4.999921  4.652929  1.21   2.28   3.35   5.7000  32.00
BFEC>2.5   380.0   1.715789  0.246827  1.21   1.54   1.69   1.8600   2.66
BFEC<2.5   380.0   2.541737  0.557118  1.59   2.14   2.43   2.8250   5.50
BFECAHH    380.0   1.983079  0.088226  1.75   1.91   1.98   2.0525   2.21
BFECAHA    380.0   2.006079  0.089331  1.81   1.93   2.01   2.0700   2.30

[124 rows x 8 columns]

In [6]:
#including categorical
data.describe(include='O')

,Div,Date,Time,HomeTeam,AwayTeam,FTR,HTR,Referee,Season
count,1140,1140,1140,1140,1140,1140,1140,1140,1140
unique,1,346,21,24,24,3,3,34,3
top,E0,25/05/2025,15:00,Crystal Palace,Arsenal,H,D,A Taylor,2022-23
freq,1140,10,406,57,57,514,434,87,380

### Duplicates

In [7]:
data.duplicated().sum()

0

**No duplicates on our dataset**

In [8]:
print(data.columns.tolist())

['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA', 'Season', 'BFH', 'BFD', 'BFA', '1XBH', '1XBD', '1XBA', 'BFEH', 'BFED', 'BFEA', 'BFE>2.5', 'BFE<2.5', 'BFEAHH', 'BFEAHA', 'BFCH', 'BFCD', 'BFCA', '1XBCH', '1XBCD', '1XBCA', 'BFECH', 'BFECD', 'BFECA', 'BFEC>2.5', 'BFEC<2.5', 'BFECAHH', 'BFECAHA']

### Data Retention Decision

I will retain only the **match metadata**, **scoreline information**, and **performance statistics** because these variables describe the game itself without relying on betting market data. All other columns in the dataset are **bookmaker odds**, which pose two main problems for my goal of predicting the **2025â€“26 Premier League winner**:

#### 1. Data Leakage
- Odds are set just before each match and already incorporate knowledge about team strength, injuries, and other factors unavailable at the start of the season.  
- Using them would effectively feed my model the outcome probabilities determined by bookmakers, making predictions **unrealistically accurate** for past seasons but **unusable before future games**.

#### 2. Future Applicability
- For the 2025â€“26 season, **pre-match odds for every fixture** are not available in advance.  
- Relying on them would prevent me from making **early predicBy retaining only the **non-odds columns** â€” i.e., **goals, shots, fouls, cards**, and other **in-game statistics** â€” I ensure the model is built on genuine performance data.
rmance data.
on framework**.

In [9]:
columns_to_retain = [
    "Date", "Time", "HomeTeam", "AwayTeam", "Referee",
    "FTHG", "FTAG", "FTR", "HTHG", "HTAG", "HTR",
    "HS", "AS", "HST", "AST",
    "HF", "AF", "HC", "AC",
    "HY", "AY", "HR", "AR"
]

df = data[columns_to_retain]

In [10]:
df.shape

(1140, 23)

In [11]:
pd.set_option('display.max_rows', None)
missing_percent = df.isna().mean() * 100
print(missing_percent.sort_values(ascending=False))

Date        0.0
AS          0.0
HR          0.0
AY          0.0
HY          0.0
AC          0.0
HC          0.0
AF          0.0
HF          0.0
AST         0.0
HST         0.0
HS          0.0
Time        0.0
HTR         0.0
HTAG        0.0
HTHG        0.0
FTR         0.0
FTAG        0.0
FTHG        0.0
Referee     0.0
AwayTeam    0.0
HomeTeam    0.0
AR          0.0
dtype: float64

### Dataset Column Descriptions (Key Match Data)

- **Div**: League Division  
- **Date**: Match date (dd/mm/yy)  
- **Time**: Kick-off time  
- **HomeTeam / AwayTeam**: Teams playing  
- **Referee**: Match refe
ree  

- **FTHG / FTAG**: Full-time goals (home/away)  
- **FTR**: Full-time result (H=home win, D=draw, A=away win)  
- **HTHG / HTAG**: Half-time goals (home/away)  
- **HTR**: Half-time result
 (H/D/A)  

- **HS / AS**: Shots (home/away)  
- **HST / AST**: Shots on target (home/away)  
- **HF / AF**: Fouls committed (home/away)  
- **HC / AC**: Corners (home/away)  
- **HY / AY**: Yellow cards (home/away)  
- **HR / AR**: Red cards (home/away)

In [12]:
df.head()

,Date,Time,HomeTeam,AwayTeam,Referee,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,05/08/2022,20:00,Crystal Palace,Arsenal,A Taylor,0,2,A,0,1,...,2,2,16,11,3,5,1,2,0,0
1,06/08/2022,12:30,Fulham,Liverpool,A Madley,2,2,D,1,0,...,3,4,7,9,4,4,2,0,0,0
2,06/08/2022,15:00,Bournemouth,Aston Villa,P Bankes,2,0,H,1,0,...,3,2,18,16,5,5,3,3,0,0
3,06/08/2022,15:00,Leeds,Wolves,R Jones,2,1,H,1,1,...,4,6,13,9,6,4,2,0,0,0
4,06/08/2022,15:00,Newcastle,Nott'm Forest,S Hooper,2,0,H,0,0,...,10,0,9,14,11,1,0,3,0,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1140 non-null   object
 1   Time      1140 non-null   object
 2   HomeTeam  1140 non-null   object
 3   AwayTeam  1140 non-null   object
 4   Referee   1140 non-null   object
 5   FTHG      1140 non-null   int64
 6   FTAG      1140 non-null   int64
 7   FTR       1140 non-null   object
 8   HTHG      1140 non-null   int64
 9   HTAG      1140 non-null   int64
 10  HTR       1140 non-null   object
 11  HS        1140 non-null   int64
 12  AS        1140 non-null   int64
 13  HST       1140 non-null   int64
 14  AST       1140 non-null   int64
 15  HF        1140 non-null   int64
 16  AF        1140 non-null   int64
 17  HC        1140 non-null   int64
 18  AC        1140 non-null   int64
 19  HY        1140 non-null   int64
 20  AY        1140 non-null   int64
 21  HR        1140 non-null   int64
 22  AR        1140 non-null   int64
dtypes: int64(16), object(7)
memory usage: 205.0+ KB

### Converting date and time to datetime data type

In [16]:
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M', errors='coerce')
df = df.drop(columns = ['Date', 'Time'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_11320\1406131011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M', errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HomeTeam  1140 non-null   object
 1   AwayTeam  1140 non-null   object
 2   Referee   1140 non-null   object
 3   FTHG      1140 non-null   int64
 4   FTAG      1140 non-null   int64
 5   FTR       1140 non-null   object
 6   HTHG      1140 non-null   int64
 7   HTAG      1140 non-null   int64
 8   HTR       1140 non-null   object
 9   HS        1140 non-null   int64
 10  AS        1140 non-null   int64
 11  HST       1140 non-null   int64
 12  AST       1140 non-null   int64
 13  HF        1140 non-null   int64
 14  AF        1140 non-null   int64
 15  HC        1140 non-null   int64
 16  AC        1140 non-null   int64
 17  HY        1140 non-null   int64
 18  AY        1140 non-null   int64
 19  HR        1140 non-null   int64
 20  AR        1140 non-null   int64
 21  Datetime  1140 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(16), object(5)
memory usage: 196.1+ KB

### Checking Unique Values in Each Column

In [18]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].unique())
    print("*******************")

Column: HomeTeam
['Crystal Palace' 'Fulham' 'Bournemouth' 'Leeds' 'Newcastle' 'Tottenham'
 'Everton' 'Leicester' 'Man United' 'West Ham' 'Aston Villa' 'Arsenal'
 'Brighton' 'Man City' 'Southampton' 'Wolves' 'Brentford' "Nott'm Forest"
 'Chelsea' 'Liverpool' 'Burnley' 'Sheffield United' 'Luton' 'Ipswich']
*******************
Column: AwayTeam
['Arsenal' 'Liverpool' 'Aston Villa' 'Wolves' "Nott'm Forest"
 'Southampton' 'Chelsea' 'Brentford' 'Brighton' 'Man City' 'Everton'
 'Leicester' 'Newcastle' 'Bournemouth' 'Leeds' 'Fulham' 'Man United'
 'West Ham' 'Tottenham' 'Crystal Palace' 'Luton' 'Sheffield United'
 'Burnley' 'Ipswich']
*******************
Column: Referee
['A Taylor' 'A Madley' 'P Bankes' 'R Jones' 'S Hooper' 'A Marriner'
 'C Pawson' 'J Gillett' 'P Tierney' 'M Oliver' 'D England' 'G Scott'
 'D Coote' 'T Harrington' 'J Brooks' 'S Attwell' 'M Salisbury' 'T Bramall'
 'C Kavanagh' 'R Madley' 'D Bond' 'T Robinson' 'J Smith' 'S Barrott'
 'R Welch' 'S Allison' 'L Smith' 'S Singh' 'J Gillett ' 'M Donohue'
 'K Kavanagh' 'O Oliver' 'A Kitchen' 'D Webb']
*******************
Column: FTHG
[0 2 4 1 3 9 6 5 7]
*******************
Column: FTAG
[2 0 1 3 4 5 6 8]
*******************
Column: FTR
['A' 'D' 'H']
*******************
Column: HTHG
[0 1 2 3 4 5]
*******************
Column: HTAG
[1 0 2 3 4 5]
*******************
Column: HTR
['A' 'H' 'D']
*******************
Column: HS
[10  9  7 12 23 18  8 14 17  6 19 13 16 24 11 22  5  3 20 15 21 28 29  4
 25 26  1 31 33 27 34 30 32 36  2]
*******************
Column: AS
[10 11 15  5  8 14  6  4  3 13  9 19  7 20 21 17  2 18 23 12 16 25  1 22
 26 30 24 29 27 28 31 37]
*******************
Column: HST
[ 2  3  4 10  8  5  1  7  6  9 12 11  0 15 13 14 16]
*******************
Column: AST
[ 2  4  6  0  3  1  5 10  7  8  9 11 15 12 13]
*******************
Column: HF
[16  7 18 13  9 11 14  6  8 15 10 12  4 19  3 23 17  5 20  2 21]
*******************
Column: AF
[11  9 16 14  6  5 12  4  7 15  8 10 13 23 19  3 18 17 22 24 20  2 21  1]
*******************
Column: HC
[ 3  4  5  6 11 10  1  7  2  8  9 13 14  0 12 17 15 16]
*******************
Column: AC
[ 5  4  1  2 16  6  8  3  7 11 13  0  9 10 14 19 15 12 18]
*******************
Column: HY
[1 2 3 0 4 6 5 7]
*******************
Column: AY
[2 0 3 1 4 5 7 6 8]
*******************
Column: HR
[0 1 2]
*******************
Column: AR
[0 1 2]
*******************
Column: Datetime
<DatetimeArray>
['2022-08-05 20:00:00', '2022-08-06 12:30:00', '2022-08-06 15:00:00',
 '2022-08-06 17:30:00', '2022-08-07 14:00:00', '2022-08-07 16:30:00',
 '2022-08-13 12:30:00', '2022-08-13 15:00:00', '2022-08-13 17:30:00',
 '2022-08-14 14:00:00',
 ...
 '2025-05-11 16:30:00', '2025-05-16 19:30:00', '2025-05-16 20:15:00',
 '2025-05-18 12:00:00', '2025-05-18 14:15:00', '2025-05-18 15:00:00',
 '2025-05-18 16:30:00', '2025-05-19 20:00:00', '2025-05-20 20:00:00',
 '2025-05-25 16:00:00']
Length: 680, dtype: datetime64[ns]
*******************

### Removing white space on referee column

In [19]:
df['Referee'] = df['Referee'].str.strip()